<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="wrapper">


  <h3>You'll be first shown a series of natural names such as "hi world" and then be asked to find said value either in kebab-case or CamelCase, the time taken to execute these tasks will be recorded and used for a super important research.
    <br>Press start when ready. <br>Yeah this thing looks terrible we know</h3>
<center>
  <a href="/app">
    <button>START</button>
  </a>
</center>

</div>
</body>
</html>
