<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="wrapper">
  <div class="pageTitle title">Sign Up For The Experiment</div>
  <div class="secondaryTitle title">Please fill this form to sign up.</div>
  <form class="form"  method="post" action="/users" enctype="multipart/form-data">
    <input type="text" name="name" class="name formEntry" placeholder="Name">
    <input type="text" name="email" class="email formEntry" placeholder="Email">
    <input type="radio" id="none" name="level"  class="termsConditions" value="none">
    <label for="none">None (little to no experience)</label><br>
    <input type="radio" id="novice" name="level" class="termsConditions" value="novice (">
    <label for="novice">Novice (less than 3 years experience)</label><br>
    <input type="radio" id="expert" name="level" class="termsConditions" value="expert">
    <label for="expert">Expert</label>
    <input type="submit" class="submit formEntry" value="Submit">
  </form>
</div>
</body>
</html>
