<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="wrapper">
    <div class="pageTitle title">Sign Up For The Experiment</div>
    <div class="secondaryTitle title">Please fill this form to sign up.</div>
    <div id="entrypoint"></div>


</div>
</body>
<script src="javascripts/ejs/ejs.js"></script>
<script src="js/views.js"></script>
<script src="javascripts/app.js"></script>
<script src="javascripts/main.js"></script>


</html>