<!DOCTYPE html>

<div class="wrapper">
    <form id=<%= formId%> class="form"  method="post" action="/users" enctype="multipart/form-data">
        <input type="text" name="name" class="name formEntry" placeholder="Name">
        <input type="text" name="email" class="email formEntry" placeholder="Email">
        <input type="submit" class="submit formEntry" value="Submit">
    </form>
</div>
